<div class="row" id="test">
    <div class="col-12">
        <div class="card my-4">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                    <h6 class="text-white text-capitalize ps-3">Voici la liste des demandes envoyés</h6>
                </div>
            </div>
            <div class="card-body px-0 pb-2">
              <div class="ms-md-auto pe-md-3 d-flex align-items-center">
                <div class="input-group input-group-outline">
                  <label class="form-label">Type here...</label>
                  <input type="text" (keyup)="doFilter($event)" class="form-control">
                </div>
              </div>
                <div class="table-responsive p-0" style="overflow: auto; max-height: 400px;"> <!-- Apply overflow and max-height -->
                    <table class="table align-items-center mb-0">
                        <thead>
                            <tr>
                                <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7 ps-2">SUJET</th>
                                <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7 ps-2">ENCADREUR</th>
                                <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7">ETAT</th>
                                <th class="text-secondary opacity-7"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let e of demandesFiltred">
                                <td>
                                    <div class="d-flex px-2 py-1">
                                        <div class="d-flex flex-column justify-content-center">
                                            <h6 class="mb-0 text-sm">{{e.sujet}}</h6>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="d-flex px-2 py-1">
                                        <div class="d-flex flex-column justify-content-center">
                                            <h6 class="mb-0 text-sm">{{e.encadreur}}</h6>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="d-flex px-2 py-1">
                                        <div class="d-flex flex-column justify-content-center">
                                            <span class="badge badge-sm bg-gradient-success">{{e.etat}}</span>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
  </div>