<div class="d-flex px-2 py-1 justify-content-end"> <!-- Align to the right -->
    <button  type="button" class="btn btn-info  mb-0 me-3"  data-toggle="modal" data-target="#exampleModal">Ajouter Salle</button>
  </div>
  <div class="card my-4">
      <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
        <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
          <h6 class="text-white text-capitalize ps-3">Voici la liste des salles</h6>
        </div>
      </div>
      <div class="card-body px-0 pb-2">
        <div class="table-responsive p-0">
          <table class="table align-items-center mb-0">
            <thead>
              <tr>
                <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7">ID</th>
                <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7 ps-2">NOM</th>

                <th class="text-secondary opacity-7"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let e of salle">
                <td>
                  <div class="d-flex px-2 py-1">
                    <div class="d-flex flex-column justify-content-center">
                      <h6 class="mb-0 text-sm">{{e.id}}</h6>
                    </div>
                  </div>
                </td>
                <td>
                    <div class="d-flex px-2 py-1">
                      <div class="d-flex flex-column justify-content-center">
                        <h6 class="mb-0 text-sm">{{e.nom}}</h6>
                      </div>
                    </div>
                </td>
                <td>
                    <div class="d-flex px-2 py-1">
                        <a class="btn btn-outline-success btn-sm mb-0 me-3">Modifier</a>
                        <a class="btn btn-outline-danger btn-sm mb-0 me-3">Supprimer</a>
                    </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>


    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Ajout Salle</h5>
            <button type="button" class="btn-close btn-dark" (click)="closeModal()" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form [formGroup]="salleForm" (ngSubmit)="onSubmit()"  role="form" class="text-start">
              <div class="input-group input-group-outline my-3">
                <label class="form-label">Salle</label>
                <input type="text" class="form-control"   formControlName="nom">
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-outline-danger" (click)="closeModal()" data-bs-dismiss="modal">Close</button>
                <button type="submit"  class="btn btn-outline-success" [disabled]="salleForm.invalid">Ajouter</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>